Q1. How do you comment code in Python? What are the different types of comments?

by using hash we can write a comment

In [1]:
# My name is Aaditya sangwan

There are 2 type of comment 
single line comment and multiline comment

In [4]:
""" the above eg of single line comment
multiline comment
this is my first programming langauge 
i am very happy to learn coding .
i learn many topics of python like variable string list turples sets and dictionary and mutable and inmutable"""

' the above eg of single line comment\nmultiline comment\nthis is my first programming langauge \ni am very happy to learn coding .\ni learn many topics of python like variable string list turples sets and dictionary and mutable and inmutable'

Q2. What are variables in Python? How do you declare and assign values to variables?

variable are those in which we can store values and when we call a certain variable it gives us that value which is stored in it
there are many type of variable like strings integers ,float ,complex no, boolean etc

In [5]:
a = "aaditya"

In [9]:
a

'aaditya'

In [6]:
b = 12

In [10]:
b

12

In [7]:
c = 12.35

In [8]:
d = True

In [11]:
d

True

In [12]:
e = 1+6j

In [13]:
e

(1+6j)

Q3. How do you convert one data type to another in Python?

by using the typecasting that one data type like an integer to string

In [20]:
b = 125

In [21]:
type(b)

int

In [22]:
b = str(125)

In [23]:
type(b)

str

In [24]:
b

'125'

Q4. How do you write and execute a Python script from the command line?

we can excute the python script by click shift+enter or ctl + enter and by click above juiper nb run button

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [26]:
my_list = [1, 2, 3, 4, 5]

In [27]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

complx no are those no. which contain a real no and imag. no 
and it represent in python as below

In [28]:
z = 4 + 8j

In [29]:
type(z)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

the correct way to declared a variable  is we can use alphabets to declare variable but we cannot use integers and float 
we cannot use special charcters also like @ we can use underscore to  delcare the variable

In [30]:
age = 25

In [31]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [32]:
price = 9.99

In [33]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [34]:
a = "aaditya sangwan"

we use print the value of the variable by using the print

In [35]:
print(a)

aaditya sangwan

Q10. Given the string "Hello, World!", extract the substring "World".

In [36]:
v =  "Hello, World!"

In [41]:
v[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [45]:
is_student = True